@{
    ViewBag.Title = "Auth";
}

    <div class="AuthContainer">
        @*<h3>Введите логин и пароль:</h3>
        <form method="post">
            <table>
                <tr>
                    <td>
                        <p>Введите логин</p>
                    </td>
                    <td><input type="email" name="Login" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Введите Пароль</p>
                    </td>
                    <td><input type="password" name="Password" /></td>
                </tr>
                <tr><td><input type="submit" class="confirm" value="Войти" /></td></tr>
            </table>
        </form>*@

        <form method="post">
            <div class="group">
                <input type="text" name="Login">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Введите логин</label>
            </div>

            <div class="group">
                <input type="text" name="Password" >
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Введите пароль</label>
            </div>

            <div class="submit">
                <input type="submit" class="confirm" value="Войти" />
            </div>
        </form>
    </div>