@using  GameAPP.Controllers
@{
    ViewBag.Title = "Field";
}

<div class="gameContainer">
    <table cellspacing="0" cellpadding="0">
        @{
                    int s = 1;
                    string path = "/Content/Images/" + Convert.ToString(ViewBag.size) + "/Cars" + HomeController.getRandomCars() + "/";
                    int[] pole = new int[ViewBag.size * ViewBag.size];
                    while (!HomeController.WinPole(pole))
                    {
                        pole = HomeController.getRandomPictures(ViewBag.size);
                    }
                    for (int i = 0; i < ViewBag.size; i++)
                    {
                        <tr>
                        @for (int j = 0; j < ViewBag.size; j++)
                        {
                        string randomPath = path + pole[s - 1] + ".png";
                            <td id="@s" class="cellsGame">
                                <img id="@s" src=@randomPath onclick="move_cell()">
                            </td>
                            s++;
            }
                </tr>
            }
        }

    </table>
</div>
<div class="counterContainer">
    <p></p>
</div>


@section Scripts
{
    <script type="text/javascript">
        function move_cell(event) {
            var id = event.target.id;
            var cellsM = document.getElementsByClassName('cellsGame');

            var idEmptyCells = cellsM.forEach(function (cell) {
                if (cell.firstElementChild.id == null)
                    return cell;
            });
        }
        function search
    </script>
}
