@{
    ViewBag.Title = "Index";
}

    <div class="mainContainer">

        <img src="~/Content/Images/пятнашки.png" sizes="20%">

       <button id="authorize" onclick="document.location='@Url.Action("Auth")'">
            Вход
       </button>

       <button id="registration" onclick="document.location='@Url.Action("Reg")'">
            Регистрация
       </button>

       <button id="record" onclick="document.location='@Url.Action("Reg")'">
            Рекорды
       </button>

       <button id="description" onclick="document.location='@Url.Action("Rules")'">
            Правила
       </button>

    </div>


