@{
    ViewBag.Title = "Index";
}

    <div class="mainContainer">
        <img src="~/Content/Images/пятнашки.png" sizes="20%">
                        <form action="/Home/Auth/">
                            <button id="authorize">
                                Вход
                            </button>
                        </form>


                        <form action="/Home/Reg/">
                            <button id="registration">
                                Регистрация
                            </button>
                        </form>


                        <form action="/Home/Reg/">
                            <button id="record">
                                Рекорды
                            </button>
                        </form>



                        <form action="/Home/Reg/">
                            <button id="description">
                                Правила
                            </button>
                        </form>
        </div>


