
@{
    ViewBag.Title = "Record";
}

<div class="recordContainer">
        <p>
            На поле будут перемешаны фрагменты картинки. Один фрагмент будет пустым. Нажатием на клетку,
            расположенной рядом (сверху, снизу, справа, слева) с пустой, поменяет их местами. Для победы требуется
            расставить все фрагменты на свои места. И сделать это за как можно меньшее количество ходов.
            Лучший счёт будет записан в таблицу рекордов.
        </p>
        <p>
            Пример выигрыша:
        </p>
        <img id="exampleWin" src="~/Content/Images/Others/example_win.png">
</div>

