@{
    ViewBag.Title = "Reg";
}



<div class="RegContainer">
        @*<h3>Введите логин и пароль для регистрации:</h3>
        <form method="post">
            <table>
                <tr>
                    <td>
                        <p>Введите логин</p>
                    </td>
                    <td><input type="email" name="Login" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Введите Пароль</p>
                    </td>
                    <td><input type="password" name="Password" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Повторите пароль</p>
                    </td>
                    <td><input type="password" name="RE-Password" /></td>
                </tr>
                <tr><td><input type="submit" class="confirm" value="Зарегистрироваться" /></td></tr>
            </table>
        </form>*@

    <form>

        <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Введите логин</label>
        </div>

        <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Введите пароль</label>
        </div>

        <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Повторите пароль</label>
        </div>
        <div class="submit">
            <input type="submit" class="confirm" value="Зарегистрироваться" />
        </div>


    </form>
    </div>
